<section class="container-padding go-back-holder">
  <div class="container-fluid p-0">
    <a class="go-back mode-container" routerLink="/">
      <span class="material-symbols-outlined mode-text">
        keyboard_backspace
      </span>
      <span class="mode-text">Back</span>
    </a>
  </div>
</section>

<section class="container-padding mb-5">
  <div class="container-fluid p-0">
    <div class="row justify-content-between">
      <div class="col-12 col-md-6">
        <img [src]="country?.flagPath" alt="Country flag" class="w-100 rounded">
      </div>
      <div class="col-12 col-md-5 d-flex justify-content-center flex-column">
        <h2 class="mode-text mt-0 mb-4">{{ country?.nativeName }}</h2>
        <div class="details mb-5">
          <div class="details-section">
            <p class="mode-text">
              <strong class="fw-semibold">Native Name</strong>: {{ country?.nativeName }}
            </p>
            <p class="mode-text">
              <strong class="fw-semibold">Population</strong>: {{ country?.population }}
            </p>
            <p class="mode-text">
              <strong class="fw-semibold">Region</strong>: {{ country?.region }}
            </p>
            <p class="mode-text">
              <strong class="fw-semibold">Sub Region</strong>: {{ country?.subRegion }}
            </p>
            <p class="mode-text">
              <strong class="fw-semibold">Capital</strong>: {{ country?.capital }}
            </p>
          </div>
          <div class="details-section">
            <p class="mode-text">
              <strong class="fw-semibold">Top Level Domain</strong>: {{ country?.topLevelDomain }}
            </p>
            <p class="mode-text">
              <strong class="fw-semibold">Currencies</strong>: {{ country?.currency }}
            </p>
            <p class="mode-text">
              <strong class="fw-semibold">Languages</strong>:
              <span *ngFor="let language of country?.languagues">{{ language }},</span>
            </p>
          </div>
        </div>
        <p class="m-0">
          <strong class="fw-semibold mode-text me-3">Border Countries:</strong>
          <span class="mode-container me-2 py-1 px-3 d-inline-block rounded mode-text"
            *ngFor="let borderCountry of country?.borderCountries">
            {{ borderCountry }}
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
