<a [routerLink]="'/details/' + country?.nativeName" class="link">
  <div class="card mode-container">
    <img class="card-img-top" alt="Country Flag" [src]="country?.flagPath">
    <div class="card-body">
      <h5 class="card-title mode-text">{{ country?.nativeName }}</h5>
      <p class="card-text mode-text"><strong class="fw-semibold">Population</strong>: {{ country?.population }}</p>
      <p class="card-text mode-text"><strong class="fw-semibold">Region</strong>: {{ country?.region }}</p>
      <p class="card-text mode-text"><strong class="fw-semibold">Capital</strong>: {{ country?.capital }}</p>
    </div>
  </div>
</a>
