<a [routerLink]="url" class="link">
  <div class="card mode-container border-0 w-100">
    <img class="card-img-top country__image" alt="Country Flag" [src]="country?.flag">
    <div class="card-body p-4 pb-5">
      <h5 class="card-title mode-text country__heading">{{ country?.commonName }}</h5>
      <p class="card-text mode-text country__detail">
        <span class="country__detail-title">Population</span>:
        <span class="country__detail-value">{{ country?.population! | population  }}</span>
      </p>
      <p class="card-text mode-text country__detail">
        <span class="country__detail-title">Region</span>:
        <span class="country__detail-value">{{ country?.region }}</span>
      </p>
      <p class="card-text mode-text country__detail">
        <span class="country__detail-title">Capital</span>:
        <span class="country__detail-value">{{ country?.capital }}</span>
      </p>
    </div>
  </div>
</a>
