<section class="container-padding list-controller">
  <div class="container-fluid">
    <div class="list-controller__manipulator">
      <div class="mode-container list-controller__holder">
        <label for="search-input" class="mode-label pt-1">
          <span class="material-symbols-outlined">search</span>
        </label>
        <input type="search" class="list-controller__holder-input mode-input" name="search-input"
          placeholder="Search for a country...">
      </div>
      <select aria-label="filter" class="list-controller__filter-dropdown mode-filter">
          <option value="no-value">Filter By Region</option>
        <option value="Africa">Africa</option>
        <option value="America">America</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="Oceania">Oceania</option>
      </select>
    </div>
  </div>
</section>
<app-country-list></app-country-list>
